<!DOCTYPE html>
<html>
  <head>
    <title>CatMeow</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>


    <form role="form">
        <div class="form-group">
            <label for="myEmail">my email address</label>
            <input type="email" class="form-control" id="myEmail" placeholder="Enter my email">
        </div>
        <div class="form-group">
            <label for="theirEmail">their email address</label>
            <input type="email" class="form-control" id="theirEmail" placeholder="Enter their email">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>



  </body>
</html>
