body {
  padding: 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
    float: right;
    margin: 1em;
    height: 50% !important;
}

.font {
    font-family: 'Pacifico', cursive;
}

.font1 {
    font-family: 'Gochi Hand', cursive;
}

.colorbox {
    opacity: .85;
    /*background-color: #A8FFDC;*/
}

.row {
    margin: 15px;
}
